In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('new_df.csv')

In [3]:
data.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,Split,...,featured_display,DateType,Month,Median Sales,Key,DateLagged,LaggedSales,LaggedAvailable,Sales_dif,Difference
0,1,2011-01-17,Store_8091,Product_216418,99.0375,111.8625,0,0,20.0,Train,...,0,2011-01-17,Month_1,28.5,Store_8091Product_216418Month_12011-01-17 00:0...,2011-01-10,28.5,0.0,0.0,8.5
1,1641,2011-01-24,Store_8091,Product_216418,99.0375,111.8625,0,0,34.0,Train,...,0,2011-01-24,Month_1,28.5,Store_8091Product_216418Month_12011-01-24 00:0...,2011-01-17,20.0,1.0,8.5,-5.5
2,3277,2011-01-31,Store_8091,Product_216418,96.9000,96.9000,0,0,10.0,Train,...,0,2011-01-31,Month_1,28.5,Store_8091Product_216418Month_12011-01-31 00:0...,2011-01-24,34.0,1.0,-5.5,18.5
3,45785,2011-01-08,Store_8091,Product_216418,87.6375,119.7000,0,0,12.0,Train,...,0,2011-01-08,Month_1,28.5,Store_8091Product_216418Month_12011-01-08 00:0...,2011-01-01,28.5,0.0,0.0,16.5
4,84981,2012-01-16,Store_8091,Product_216418,88.3500,106.1625,1,1,52.0,Train,...,0,2012-01-16,Month_1,28.5,Store_8091Product_216418Month_12012-01-16 00:0...,2012-01-09,28.5,0.0,0.0,-23.5

In [130]:
label_encode = ['store_id', 'sku_id', 'Month']
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()


for label in label_encode:
    data[label] = encoder.fit_transform(data[label])

In [131]:
train = data[data['Split'] == 'Train']
test = data[data['Split'] == 'Test']

In [132]:
train.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,Split,...,featured_display,DateType,Month,Median Sales,Key,DateLagged,LaggedSales,LaggedAvailable,Sales_dif,Difference
0,1,2011-01-17,3,1,99.0375,111.8625,0,0,20.0,Train,...,0,2011-01-17,0,28.5,Store_8091Product_216418Month_12011-01-17 00:0...,2011-01-10,28.5,0.0,0.0,8.5
1,1641,2011-01-24,3,1,99.0375,111.8625,0,0,34.0,Train,...,0,2011-01-24,0,28.5,Store_8091Product_216418Month_12011-01-24 00:0...,2011-01-17,20.0,1.0,8.5,-5.5
2,3277,2011-01-31,3,1,96.9000,96.9000,0,0,10.0,Train,...,0,2011-01-31,0,28.5,Store_8091Product_216418Month_12011-01-31 00:0...,2011-01-24,34.0,1.0,-5.5,18.5
3,45785,2011-01-08,3,1,87.6375,119.7000,0,0,12.0,Train,...,0,2011-01-08,0,28.5,Store_8091Product_216418Month_12011-01-08 00:0...,2011-01-01,28.5,0.0,0.0,16.5
4,84981,2012-01-16,3,1,88.3500,106.1625,1,1,52.0,Train,...,0,2012-01-16,0,28.5,Store_8091Product_216418Month_12012-01-16 00:0...,2012-01-09,28.5,0.0,0.0,-23.5

In [133]:
train = train.sort_values('record_ID').reset_index(drop = True)

In [134]:
len(train)

150150

In [135]:
len(test)

13860

In [136]:
train_x = train[:137461]
val_x = train[137461:]

In [137]:
train_x.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,Split,...,featured_display,DateType,Month,Median Sales,Key,DateLagged,LaggedSales,LaggedAvailable,Sales_dif,Difference
0,1,2011-01-17,3,1,99.0375,111.8625,0,0,20.0,Train,...,0,2011-01-17,0,28.5,Store_8091Product_216418Month_12011-01-17 00:0...,2011-01-10,28.5,0.0,0.0,8.5
1,2,2011-01-17,3,2,99.0375,99.0375,0,0,28.0,Train,...,0,2011-01-17,0,33.0,Store_8091Product_216419Month_12011-01-17 00:0...,2011-01-10,33.0,0.0,0.0,5.0
2,3,2011-01-17,3,3,133.9500,133.9500,0,0,19.0,Train,...,0,2011-01-17,0,25.5,Store_8091Product_216425Month_12011-01-17 00:0...,2011-01-10,25.5,0.0,0.0,6.5
3,4,2011-01-17,3,0,133.9500,133.9500,0,0,44.0,Train,...,0,2011-01-17,0,27.5,Store_8091Product_216233Month_12011-01-17 00:0...,2011-01-10,27.5,0.0,0.0,-16.5
4,5,2011-01-17,3,5,141.0750,141.0750,0,0,52.0,Train,...,0,2011-01-17,0,30.5,Store_8091Product_217390Month_12011-01-17 00:0...,2011-01-10,30.5,0.0,0.0,-21.5

In [170]:
selector = [
    'store_id',
    'sku_id',
    'total_price',
    'base_price',
    'is_featured_sku',
    'is_display_sku',
    'featured_display',
    'Month',
    'Median Sales',
    'LaggedSales',
    'LaggedAvailable',
    'Sales_dif'
]

In [143]:
train_x[selector].describe()

,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,featured_display,Month,Median Sales,LaggedSales,LaggedAvailable,Sales_dif
count,137461.000000,137461.000000,137460.000000,137461.000000,137461.000000,137461.000000,137461.000000,137461.000000,137461.000000,137461.000000,137461.000000,137461.000000
mean,37.008264,9.661846,206.282942,218.840694,0.093488,0.131914,0.119845,5.268993,44.379468,48.465925,0.462247,-4.086457
std,22.392917,6.586115,103.602523,110.809579,0.291117,0.338398,0.324781,3.387140,35.351001,51.628097,0.498575,35.618600
min,0.000000,0.000000,41.325000,61.275000,0.000000,0.000000,0.000000,0.000000,3.500000,1.000000,0.000000,-2717.000000
25%,17.000000,4.000000,130.387500,133.237500,0.000000,0.000000,0.000000,2.000000,21.000000,20.000000,0.000000,0.000000
50%,36.000000,10.000000,198.075000,205.912500,0.000000,0.000000,0.000000,5.000000,34.000000,35.000000,0.000000,0.000000
75%,57.000000,14.000000,232.987500,234.412500,0.000000,0.000000,0.000000,8.000000,56.000000,59.000000,1.000000,0.000000
max,75.000000,27.000000,533.662500,533.662500,1.000000,1.000000,1.000000,11.000000,435.000000,2876.000000,1.000000,327.000000

In [106]:
from sklearn.metrics import mean_squared_error, make_scorer

def custom_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    error = np.sqrt(mse)
    error = error * 100
    return error

In [107]:
rmsle = make_scorer(custom_metrics, greater_is_better=False)

In [144]:
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor

xgr = XGBRegressor(n_estimators = 60)

scores = cross_val_score(xgr, train_x[selector], np.log1p(train_x['units_sold']), cv = 5, scoring = rmsle)

In [166]:
from sklearn.model_selection import cross_val_score
from lightgbm import LGBMRegressor

xgr = LGBMRegressor()

scores = cross_val_score(xgr, train_x[selector], np.log1p(train_x['units_sold']), cv = 5, scoring = rmsle)

In [167]:
scores.mean()

-43.521112803550054

In [217]:
xgr = LGBMRegressor(n_estimators=140, max_depth=6, num_leaves=70)

scores = cross_val_score(xgr, train_x[selector], train_x['Difference'], cv = 5, scoring = 'neg_mean_squared_error')

In [218]:
scores.mean()

-899.2668434144692

In [219]:
xgr.fit(train_x[selector], train_x['Difference'])

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=6,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=140, n_jobs=-1, num_leaves=70, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [220]:
xgr.feature_importances_

array([ 475,  456, 1172,  839,  261,  218,   67,  585,  887,  522,  160,
        517], dtype=int32)

In [235]:
preds = xgr.predict(val_x[selector])

In [236]:
preds = val_x['Median Sales'] - preds

In [237]:
preds_df = pd.DataFrame(preds)

In [240]:
preds_df.loc[preds_df['Median Sales'] < 0]

        Median Sales
147232     -1.578436

In [242]:
preds_df['Median Sales'][147232] = 0

In [245]:
preds_df['Median Sales'].describe()

count    12689.000000
mean        51.986133
std         50.192296
min          0.000000
25%         21.892347
50%         36.630101
75%         62.648997
max        800.803436
Name: Median Sales, dtype: float64

In [247]:
custom_metrics(np.log1p(val_x['units_sold']), np.log1p(preds_df['Median Sales']))

40.008392559205916

In [248]:
xgr.fit(train[selector],train['Difference'])

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=6,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=140, n_jobs=-1, num_leaves=70, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [249]:
test = test.sort_values('record_ID').reset_index(drop = True)

In [250]:
preds = xgr.predict(test[selector])

In [251]:
preds

array([ -0.95366953,  -1.71951489,   0.56344899, ..., -12.31698029,
        -0.82774125,   0.54900983])

In [252]:
predicted_sales = test['Median Sales'] - preds

In [253]:
predicted_sales

0        21.453670
1        24.719515
2        17.436551
3        24.358032
4        26.125916
           ...
13855    42.092512
13856    36.992298
13857    28.316980
13858    11.327741
13859     9.450990
Name: Median Sales, Length: 13860, dtype: float64

In [98]:
sub = pd.read_csv('/run/media/devesh/Files/Projects/Demand Forecasting/input/sample_submission.csv')

In [254]:
sub.head()

   record_ID  units_sold
0     212645   20.929181
1     212646   23.429181
2     212647   17.468811
3     212648   24.148250
4     212649   20.783231

In [255]:
sub['units_sold'] = predicted_sales

In [258]:
sub.loc[sub['units_sold'] < 0]

      record_ID  units_sold
8523     224715   -0.572101

In [260]:
sub['units_sold'][8523] = 0

<ipython-input-260-5b57c8f9b5b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['units_sold'][8523] = 0

In [262]:
sub.to_csv('lgr_second.csv', index = False)

In [261]:
sub['units_sold']

0        21.453670
1        24.719515
2        17.436551
3        24.358032
4        26.125916
           ...
13855    42.092512
13856    36.992298
13857    28.316980
13858    11.327741
13859     9.450990
Name: units_sold, Length: 13860, dtype: float64